*
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  list-style-type: none
  text-decoration: none

body
  margin: 0
  padding: 0
  background-color: rebeccapurple !important

//border radius Mixin
=border-radius($radius)
  border-radius:         $radius
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
