@import _variables

#panel
  background: transparent
  margin: 30px auto
  width: 100%
  text-align: center

#rowsColumns
  width: 46px
  text-align: center

#menu
  display: inline-block

#sketch
  background: white
  width: 960px
  height: 960px
  margin: 0 auto
  //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08)
  +border-radius(5px)

.square
  background: transparent
  width: 240px
  height: 240px
  margin: 0
  float: left
  //border: 1px solid rgba(black, .1)
  +border-radius(100%)

.square-hover
  background: black
  opacity: 0
